		div.textbook,div.footer{
			margin: 0 auto;
			margin-top: 15px;
			padding: 20px 0;
			border-top: 1px solid lightblue;
		}
		div.comment>div{
			width: 100%;
			margin: 10px auto;
		}
		div.comment>div.comment-detail>ul>li{
			display: block;
			width: 100%;
			
			padding: 3px;
		}
		div.comment>div.comment-detail>ul>li:nth-child(odd){
			background: #7b6a6a;
			color: white;
		}
		div.comment>div.comment-detail>ul>li>span{
			width: 100%;
			text-indent: 2em;
			word-wrap: break-word;
			display: inline-block;
		}
		div.comment>div.comment-detail>div{
			height: 30px;
			line-height: 30px;
		}
		div.comment>div.comment-detail>div>i{
			cursor: pointer;
			float: right;
			padding-right: 3px;
			color: cornflowerblue;
			transition: .4s all;
		}
		div.comment>div.comment-detail>div>i:last-child{
			color: black;
		}
		div.comment>div>div>i:hover{
			color: black;
			font-size: 18px;
		}
		div.comment>textarea{
			width: 90%;
			padding: 10px;
			height: 300px;
			margin: 0 auto;
			display: block;
			resize: none;
			margin-top: 10px;
		}
		div.comment>span{
			display: block;
			width: 10%;
			margin: 10px auto;
			padding: 10px;
			text-align: center;
			font-size: 18px;
			background: #7b6a6a;
			color: white;
			cursor: pointer;
		}
		div.comment>span:hover{
			background: black;
		}
		
/*评论区*/
		div#cmessage{
			
			height: auto;
		}
		div#cmessage>ul{
			margin: 0;
		}
		div#cmessage>ul>li{
			width: 100%;
			height: 100px;
			margin-bottom: 5px;
			border-bottom: 1px solid lightblue;
			padding-bottom: 5px;
		}
		div#cmessage>ul>li:first-child{
			margin-top: 10px;
			border-top: 1px solid lightblue;
		}-
		div#cmessage>ul>li>div.ctitle{
			width: 100%;
			height: 30px;
			margin-bottom: 5px;
			position: relative;
		}
		div#cmessage>ul>li>div.ctitle>span{
			display: inline-block;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin-left: 10px;
		}
		div#cmessage>ul>li>div.ctitle>span>img{
			height: 30px;
			width: 30px;
			border-radius: 50%;
			cursor: pointer;
		}
		div#cmessage>ul>li>div.ctitle>span>img:hover{
			height: 40px;
			width: 40px;
		}
		div#cmessage>ul>li>div.ctitle>span.time{
			color: #81e4aa;
		}
		div#cmessage>ul>li>div.ctitle>span.view{
			margin-left: 15px;
			width: 3%;
			cursor: pointer;
			transition: all .4s;
			float: right;
		}
		
		div#cmessage>ul>li>div.ctitle>span.view:hover{
			color: red;
		}
		
		div#cmessage>ul>li>div.ccontent{
			word-wrap:break-word;
			width: 100%;
			margin: 0 auto;
			height: 70px;
			overflow-y:  auto;
		}
